# Lab5



## 1. Write your code according to the following instructions:

* Create a list of integers and find the sum of all even numbers.
* Add a new element to the end of the list.
* Remove the first element from the list.
* Sort the list in ascending order.

In [23]:
l = range(1, 1001)
s = 0
for i in l:
  if i % 2 == 0:
    s += i
sum(s)

500500

In [27]:
# Create a list of integers
int_list = list(range(1, 100))

even_sum = sum([x for x in int_list if x % 2 == 0])
print(even_sum)

int_list.append(6)
int_list.pop(0)
print(int_list)

#int_list.sort()
import random
int_list = (random.randint(1,100) for _ in range(100))
#print(int_list.sort())
#print(int_list)
print(sorted(int_list))

2450
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 6]
[1, 2, 3, 5, 5, 6, 6, 6, 7, 7, 9, 9, 10, 12, 14, 16, 17, 18, 19, 21, 22, 23, 23, 24, 26, 28, 28, 29, 30, 32, 32, 33, 33, 34, 34, 35, 35, 35, 36, 36, 39, 39, 40, 41, 44, 47, 48, 48, 50, 51, 52, 52, 54, 55, 56, 56, 58, 60, 62, 62, 64, 66, 68, 68, 68, 68, 69, 70, 71, 71, 72, 72, 73, 74, 76, 77, 77, 80, 80, 82, 82, 83, 83, 84, 87, 89, 90, 92, 93, 94, 94, 95, 96, 96, 97, 98, 98, 98, 99, 99]

## 2. Write your code according to the following instructions:

* Create a tuple containing names of your three favorite fruits.
* Use tuple unpacking to assign each fruit to a separate variable.
* Create a new tuple by concatenating your favorite fruits with a tuple of your favorite vegetables.

In [ ]:
# Create a tuple containing names of your three favorite fruits.
fruits = ("apple", "banana", "cherry")
vegetables = ("carrot", "spinach", "cabbage")

a, b, c = fruits
favorite_foods = fruits + vegetables
print(favorite_foods)

('apple', 'banana', 'cherry', 'carrot', 'spinach', 'cabbage')

## 3. Write your code according to the following instructions:

* Create a list of strings and find the longest string.
* Calculate the sum of a range of numbers from 1 to 100.
* Using a list comprehension, create a list containing the squares of the numbers from 1 to 10.

5

In [ ]:
def add(a, b):
  return a+b


# Create a list of strings
strings = ["apple", "banana", "A", "Hello", "Python is fun!", "pineapple", "blueberry", ]
longest = max(strings, key=len)  # https://docs.python.org/3/library/functions.html#max


num_sum = sum(range(1, 101))     # https://docs.python.org/3/library/functions.html#sum
squares = [x ** 2 for x in range(1, 11)]
print(longest)
print(num_sum)
print(squares)

Python is fun!
5050
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


## 4. Write your code according to the following instructions:

* Create two lists, a and b, where b is a shallow copy of a.
* Modify an element in a and observe the effect on b.
* Repeat the process using a deep copy instead of a shallow copy.

In [ ]:
import copy
# Create a list with variable name a
a = [1, 2, [3, 4]]

b = a.copy()
a[2].append(5)

c = copy.deepcopy(a)
a[2].append(6)

print(a)
print(b)
print(c)

[1, 2, [3, 4, 5, 6]]
[1, 2, [3, 4, 5, 6]]
[1, 2, [3, 4, 5]]

## 5 Write your code according to the following instructions:

* Create a string containing a sentence.
* Reverse the order of the words in the sentence.
* Convert the sentence to uppercase.
Replace a word in the sentence with another word.

In [17]:
# Create a string containing a sentence.
sentence = "This is a sample sentence"

reversed_words = " ".join(sentence.split()[::-1])
uppercase = sentence.upper()
replaced = sentence.replace("sample", "new")

print(reversed_words)
print(uppercase)
print(replaced)

sentence sample a is This
THIS IS A SAMPLE SENTENCE
This is a new sentence

# 6. Palindrome Check

A palindrome is a word, phrase, number, or other sequences of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization. Write a function that checks if a given string is a palindrome.

In [31]:
def is_palindrome(s: str):
    # Implement your code 
    # Return true if s is palladium, false otherwise.
    middle = len(s)//2
    if len(s) % 2 == 0:
      return s[:middle] == s[:middle-1:-1]
    else:
      return s[:middle] == s[:middle:-1]

input_strings = ['', 'a', 'abccba', 'racecar', 'hello', 'madam', 'python', 'level', 'world']  

for s in input_strings:
  print(is_palindrome(s))

True
True
True
True
False
True
False
True
False

# Lab6

## 1. Write your code according to the following instructions:

* Create a list of numbers from 1 to 50.
* Filter out all the numbers that are divisible by 3 and store them in a new list.
* Calculate the sum of the remaining numbers in the original list.
* Reverse the order of the elements in the original list.

In [36]:
# Create a list of numbers from 1 to 50
numbers = list(range(1, 51))

divisible_by_3 = [n for n in numbers if n % 3 == 0]
remaining_numbers = [n for n in numbers if n not in divisible_by_3]
remaining_sum = sum(remaining_numbers)

print(divisible_by_3)
print(remaining_numbers)
print(remaining_sum)

#numbers.reversed()
#print(numbers)
#print(reversed(numbers))
print(list(reversed(numbers)))

# How about set?

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50]
867
[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 2. Write your code according to the following instructions:

* Create a tuple containing 5 numbers.
* Calculate the minimum, maximum, and average of the numbers in the tuple.
* Create a new tuple by appending the calculated minimum, maximum, and average to the original tuple.
* Use tuple unpacking to store the first three elements of the new tuple in separate variables.

In [ ]:
# Create a tuple containing 5 numbers
numbers = (3, 7, 2, 9, 5)

minimum = min(numbers)
maximum = max(numbers)
average = sum(numbers) / len(numbers)

new_tuple = numbers + (minimum, maximum, average)
a, b, c, *rest = new_tuple

print(minimum)
print(maximum)
print(average)
print(a, b, c)
print(rest)

2
9
5.2
3 7 2
[9, 5, 2, 9, 5.2]

## 3. Write your code according to the following instructions:

* Write a function that takes a string as input and returns the string with all vowels removed.
* Create a list of strings and use the function to filter the vowels from each string.
* Sort the filtered strings based on the number of consonants.
* Write a function that takes a string as input and returns the string with words in reverse order. Use this function on each string in the list of filtered strings.

In [ ]:
def remove_vowels(s):
  # implement your code
  vowels = "aeiou"
  return "".join(c for c in s.lower() if c not in vowels)

# Create a list of strings
strings = ["apple", "banana", "cherry", "kiwi", "mango", "orange", "strawberry", "avocado", "zucchini", "grape", "blueberry"]

for s in strings:
  print(remove_vowels(s))

ppl
bnn
chrry
kw
mng
rng
strwbrry
vcd
zcchn
grp
blbrry

## 4. Two Sum

Given a list of integers and a target integer, find two integers in the list that sum up to the target. Return their indices as a tuple. Assume there is exactly one solution and you may not use the same element twice.


```
# input data 1
numbers = [3, 2, 4]
target = 6

# output data 1
(1, 2)

# input data 2
numbers = [8, 5, 6, 1, 2, 9]
target = 9

# output data 2
(0, 3)

# input data 3
numbers = [1, 3, 6, 9, 2, 4, 8]
target = 14

# output data 3
(2, 6)
```

In [ ]:
def two_sum(nums, target):
  # Implement your code
  # Return two integers in the list that sum up to the target
  seen = {}
  for i, num in enumerate(nums):
    d = target - num
    if d in seen:
      return (seen[d], i)
    seen[num] = i
  return None

input_data = [([3, 2, 4], 6), ([8, 5, 6, 1, 2, 9], 9), ([1, 3, 6, 9, 2, 4, 8], 14)]
output_data = [(1, 2), (0, 3), (2, 6)]

for (i, t), o in zip(input_data, output_data):
  print(two_sum(i, t) == o)

True
True
True